.page-not-found {
    background-color: #202020;
    min-height: 100vh;
    padding-top: 245px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-not-found__code {
    margin: 0;
    text-align: center;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page-not-found__text {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 184px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page-not-found__button {
    text-decoration: none;
    color: #4285F4;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 880px) {
    .page-not-found {
        min-height: 1024px;
        padding-top: 408px;
    }
}

@media screen and (max-width: 620px) {
    .page-not-found {
        min-height: 100vh;
        padding-top: 329px;
    }
}

@media screen and (max-width: 620px) {
    .page-not-found__code {
        font-size: 80px;
    }
}

@media screen and (max-width: 620px) {
    .page-not-found__text {
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 284px;
    }
}

@media screen and (max-width: 620px) {
    .page-not-found__button {
        font-size: 12px;
    }
}