@import url(../../vendor/normalize.css);

@import url(../../vendor/fonts.css);

.page {
  margin: 0 auto;
  min-width: 320px;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.page__container {
  padding-left: 70px;
  padding-right: 70px;
}

.page__section {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.page__section-title {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: solid 1px #DADADA;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}