.search-form {
    background-color: #202020;
    min-height: 220px;
    padding-top: 72px;
    margin: 0 auto;
    width: calc(100% - 70px * 2);
}

.search-form__border {
    border-bottom: solid 1px #424242;
    padding-bottom: 67px;
    max-width: 1140px;
    margin: 0 auto;
}

.search-form__container {
    background-color: #2F2F2F;
    border-radius: 9px;
    min-height: 72px;
    display: grid;
    grid-template-columns: 1fr 226px;
    justify-content: space-between;
    align-items: center;
}

.search-form__form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 913px;
    box-sizing: border-box;
    padding-right: 30px;
    column-gap: 21px;
}

.search-form__form::before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    top: 47%;
    left: 2%;
    width: 34px;
    height: 34px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50%);
    background-image: url(../../images/search-icon.svg);
}

.search-form__form::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    top: 22%;
    right: -1px;
    height: 40px;
    border-right: solid 1px #424242;
}

.search-form__input {
    border: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 63px;
    width: 100%;
    background-color: transparent;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.search-form__input::placeholder {
    color: #8B8B8B;
}

.search-form__input:focus {
    outline: none;
    border-radius: 8px;
    border: 1.5px solid #8B8B8B;
}

.search-form__button {
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    padding: 0;
    width: 70.65px;
    height: 34px;
    border: 0;
    border-radius: 48px;
    background-color: #4285F4;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.search-form__button:hover {
    opacity: .8;
}

@media screen and (max-width: 880px) {
    .search-form {
        width: calc(100% - 30px * 2);
        padding-top: 82px;
    }
}

@media screen and (max-width: 620px) {
    .search-form {
        width: calc(100% - 10px * 2);
    }
}

@media screen and (max-width: 880px) {
    .search-form__container {
        display: grid;
        grid-template-columns: 1fr 207px;
    }
}

@media screen and (max-width: 620px) {
    .search-form__container {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        row-gap: 48px;
    }
}

@media screen and (max-width: 880px) {
    .search-form__form {
        padding-right: 20px;
    }
}

@media screen and (max-width: 620px) {
    .search-form__form {
        background-color: #2F2F2F;
        border-radius: 9px;
        width: 100%;
    }
    .search-form__form::after {
        display: none;
    }
    .search-form__form::before{
        display: none;
    }
}

@media screen and (max-width: 880px) {
    .search-form__form::before {
        left: 4%;
    }
}

@media screen and (max-width: 880px) {
    .search-form__border {
        padding-bottom: 107px;
    }
}

@media screen and (max-width: 620px) {
    .search-form__border {
        padding-bottom: 43px;
    }
}

@media screen and (max-width: 880px) {
    .search-form__button {
        width: 82.65px;
    }
}

@media screen and (max-width: 620px) {
    .search-form__button {
        width: 87.65px;
    }
}

@media screen and (max-width: 620px) {
    .search-form__input {
        font-size: 14px;
        padding-top: 23px;
        padding-left: 19px;
    }
}