.footer {
    background-color: #202020;
    margin: 0;
    flex-shrink: 0;
    min-height: 172px;
    padding-top: 78px;
    box-sizing: border-box;
}

.footer__container {
    width: calc(100% - 70px * 2);
}

.footer__text {
    margin: 0;
    color: #8B8B8B;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 20px;
    border-bottom: solid 1px #424242;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.footer__copyright {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.footer__links-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 20px;
}

.footer__link {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: .3s ease-in-out;
}

.footer__link:hover {
    opacity: .7;
}

@media screen and (max-width: 880px) {
    .footer__container {
        width: calc(100% - 30px * 2);
    }
}

@media screen and (max-width: 620px) {
    .footer__container {
        width: calc(100% - 10px * 2);
    }
}

@media screen and (max-width: 620px) {
    .footer__text {
        font-size: 12px;
    }
}

@media screen and (max-width: 620px) {
    .footer__info {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 620px) {
    .footer__links-list {
        flex-direction: column;
        align-items: center;
        row-gap: 8px;
        padding-top: 8px;
    }
}

@media screen and (max-width: 620px) {
    .footer__link {
        font-size: 12px;
    }
}

@media screen and (max-width: 620px) {
    .footer__copyright {
        padding-top: 30px;
        padding-bottom: 20px;
        color: #8B8B8B;
        font-size: 12px;
    }
}